@import"../../styles/utils.scss";
.product-page-container{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(229, 234, 240);
    
    >.product-page-main{
        width: 550px;
        height: 500px;
        padding: 1.5rem;
        background-color: $color;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0,0,0,0.2) 0px 5px 10px;

        >.main-sections{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: Roboto;
            >.image-container{
                width: 270px;
                height: 320px;
                display: flex;
                justify-content: center;
                margin-top: 2rem;
                >img{
                    width: 90%;
                    height: 100%;
                    padding: 0px 0.5rem;
                }
            }
            >.details-container{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                >.title{
                  display: inline-block;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space:nowrap;
                    >h3{
                        color: #212121;
                        letter-spacing: 0.8px;
                       
                    }
                }
                >.rating{
                    width: 40px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    background-color: #388E3C;
                    color: $color;
                    position: relative;
                    padding: 13px 25px;
                    margin: 10px 0px 0px;
    
                    >h4{
                        font-size: 12px;
                    }
                    h5{
                        margin-top: 2px;
                        margin-left: 2px;
                    }
                }
                >.price-details{
                    display: flex;
                    align-items: center;
                    height: 22px;
                    font-family: Roboto;
                    margin-top: 8px;
                    
        
                    >.cprice >h4{
                        color: #212121;
                        font-size: 16px;
                    }
                    >.oprice >h4{
                        font-size: 16px;
                        padding: 0 0.75rem;
                        font-weight: 400;
                        color: rgb(135, 135, 135);
                        text-decoration: line-through;
                    }
                    >.discount >h4{
                        font-size: 12px;
                        color: #388E3C;
                    }
                }
                >.few-left{
                    display: flex;
                    align-items: center;

                    margin: 10px 0px;
                    >p{
                        color: rgb(199, 23, 23);
                        font-size: 10px;
                    }
                    >h5{
                        color: rgb(199, 23, 23);
                        font-size: 11px;
                        padding-bottom: 4px;
                    }
                }
                >.tag-section{
                    display: flex;
                    flex-direction: column;
                    >.tag{
                        display: flex;
                        align-items: center;
                        margin: 1px 0px;
                        >h5{
                            color:$background-secondary;
                            font-size: 12px;
                            padding-top: 4px;
                        }
                        >p{
                            font-size: 11px;
                            font-family: poppins;
                        }
                    }
                }
                >.page-section{
                    margin: 5px 0px;
                    >h5 >span{
                        color: rgb(119, 117, 117);
                    }
                }
                >.highlights-section{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin: 4px 0px;
                    >.highlight{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1px 20px 1px 0px;
                        >.auth{
                            font-size: 12px;
                            font-weight: 500;
                            color: gray;
                        }
                        >.cate{
                            font-size: 13px;
                            padding-right: 12px;
                            color: $background-secondary;
                        }
                    }
                } 
                
            }
        }
        >.buttons{
            display: flex;
            align-items: center;
            margin-top: 2rem;
            justify-content: space-around;
            >.btn{
                padding: 0.5rem 2rem;
                background-color: $background-secondary;
                color: $color;
                display: flex;
                align-items: center;
                font-size: 16px;
                letter-spacing: 2px;
                font-family: Poppins;
                border: none;
                border-radius: 5px;
                &:hover{
                    opacity: 0.8;
                }
                >span{
                    padding-left: 5px;
                }

            }
        }
    }
}