@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
$color:#fff;
$color2:#757575;
$background-primary: #F1F3F6;
$background-secondary: #d577e5;
$background:#fff;
$text1: "poppins";
$text2: "Roboto" ;
$btn-primary:#2874F0;
$btn-secondary:#f1f3f6;

