@import "../../styles/utils.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.cart-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgb(231, 233, 238);

  >.cart-title {
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  >.cart-main-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    

    >.cart-cards {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2rem;
    }
    >.price-section{
        width: 30%;
        height: auto;
        max-height: 500px;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        padding:2rem 0 0 0;
        background-color: #fff;
        box-shadow: rgba(0,0,0,0.3) 0px 10px 15px;
        border-radius: 10px;
        position: relative;
        >h2{
          color: #212121;
          font-size: 24px;
          text-align: center;
          letter-spacing: 2px;
          text-transform: capitalize;
          padding: 0.5rem 0 ;
        }

        >.price{
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0 1rem;
          >.title1{
            width: 80%;
            padding: 0.3rem 0;
            text-decoration: none;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space:nowrap;
          }
          >.amount{
            font-weight: 500;
          }
        }

        >.discount{
          width: 100%;
          height: 40px;
          display: flex;
          align-items:center;
          justify-content: space-between;
          >.dis{
            width: 60%;
            padding-left: 1rem;
          }
          >.number{
            width: 40%;
            padding-left: 3.5rem;
            font-weight: 500;
            
          }
        }

        >.total-price{
          width: 100%;
          height: 40px;
          display: flex;
          align-items:center;
          justify-content: space-between;
          >.dis{
            width: 60%;
            padding-left: 1rem;
          }
          >.number{
            width: 40%;
            padding-left: 3.5rem;
            font-weight: 500;
            
          }
        }
        >.checkout{
          width: 70%;
          height: 40px;
          margin: 0 auto;
          position: absolute;
            bottom: 20px;
            left: 50px;
            
          >.checkBtn{
            width: 100%;
            height: 100%;
            border: none;
            background-color: rgb(220, 48, 76);
            color: #fff;
            font-size: 16px;
            letter-spacing: 2px;
            text-transform: uppercase;
            border-radius: 10px;
            &:hover{
              background-color: rgb(183, 27, 53);
            }
          }
        }

    }
  }
}
