@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');


.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebecf4;
    position: relative;
    >.address-container{
        width: 620px;
        height: 500px;
        z-index: 20;
        margin-top: -2rem;
        position: absolute;
        left: 450px;
        top: 170px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        border-radius: 20px;
        box-shadow: rgba(0,0, 0, 0.2) 0px 10px 15px;
        >h1{
           text-align: center;
            padding: 0.5rem 0;
            margin-top: -2rem;
        }
        >.address{
            display: flex;
            flex-direction: column;
            >label{
                margin-left: 7rem;
                font-size: 12px;
            }
    
            >input{
                width: 60%;
                font-size: 12px;
                padding: 0.25rem 0;
                margin: 0.2rem 7rem;
                border:#295C89 1px solid;
                border-radius: 3px;
                padding-left: 15px;
                outline: #295C89;
                
            }
        }
        button{
            width: 60%;
            margin: 0.2rem auto;
            padding: 5px 0;
            font-size: 14px;
            color: #ebecf4;
            background-color:#295C89;
            border-radius: 5px;
            text-transform: uppercase;
            letter-spacing: 2px;
            &:hover{
                background-color: #306ca0;
                
            }

        }
       

    }



    >.profile-main{
        width: 40%;
        height: auto;
        margin-top: 10px;
        background-color: #fff;
        
        >.button-section{
            width: 100%;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background-color: #fff;
            color: #fff;
            font-size: 20px;
            letter-spacing: 1px;
        
            .profile{
                width: 200px;
                padding: 1rem 0;
                text-align: center;
                transition: all 0.2s;
                text-decoration: none;
                background-color: #295C89;
                }
            
            .address{
                width: 200px;  
                padding: 1rem 0;
                text-align: center;
                transition: all 0.2s;
                text-decoration: none;
                background-color: #295C89;

                }
            .logout{
                width: 200px;  
                padding: 1rem 0;
                text-align: center;
                transition: all 0.2s;
                text-decoration: none;
                background-color: #295C89;
                }   
            }
        >.image-section{
            width: 100%;
            height: 100px;
            position: relative;
            >.image-container{
                width: 130px;
                height: 130px;
                border-radius: 50%;
                position: absolute;
                bottom: -60px;
                left: 15px;
                z-index: 10;
                padding: 0;
                background-color: #fff;
                >img{
                    width: 100%;
                    height: 100%;
                }

            }
        }
        >.details-section{
            width: 100%;
            height: 70%;
            min-height: 300px;
            background-color: #295C89;
            color: #fff;
            display: flex;
            flex-direction: column;
            >.profile-container{
                display: flex;
                align-items: center;
                justify-content: center;

                >.profile-section{
                     margin-top: 6rem;
                     >p{
                        font-size: 20px;
                        font-family: Roboto;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        margin-bottom: 10px;

                        >span{
                            text-transform: lowercase;
                        }
                     }
                }
            }



            >.address-section{
                width: 100%;
                height: auto;  
                display: flex;
                flex-direction: column;
                align-items:flex-end;
                padding-right: 1rem;
                justify-content: flex-end;
                margin-top: 2rem;
                >.add-address{
                    width: 200px;
                    height: 40px;
                    margin: -1rem 8rem 1rem 0;
                    
                    >button{
                        height: 100%;
                        width: 100%;
                        background-color: rgb(183, 27, 53);
                        color: #fff;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 4px;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;
                        text-transform: uppercase;
                        &:hover{
                            background-color:  rgb(220, 48, 76);
                        }
                    }
                }
                >.address{
                    width: 70%;
                    height: auto;
                    display: flex;
                    padding: 1rem;
                    align-items: center;
                    justify-content: space-between;
                    border: 1px solid #fff;
                    margin-bottom: 10px;
                    border-radius: 10px;
                    >.home{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        padding: 0;
                    }
                    >.btn-section{
                        padding-right: 1rem;
                        >div{
                            padding: 10px;
                            font-size: 18px;
                        }
                    }
                }
            }

        }
    
    }
}