@import"../../../styles/utils.scss";

.product-card{
    width: 245px;
    height: 400px;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: $color;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
        &:hover{
            transform: scale(1.01);
        }
    >.card-image{
        width: 100%;
        height: 60%;
        padding-top: 1rem;
        display: flex;
        justify-content: center;

        >.image{
            width: 70%;
            height: 100%;
        }
    }
    >.heart{
        position: absolute;
        top: 15px;
        right:10px;
        font-size: 20px;
    }
    >.card-details{
        padding: 1rem;
        >.title-rating{
            display: flex;
            justify-content: space-between;
            align-items: center;
            >h3{
                font-size: 16px;
                text-transform: capitalize;
                font-weight: 500;
                font-family: Poppins;
                letter-spacing: 1px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                white-space: nowrap;
            }
        }
        >.author{
            display: flex;
            justify-content: space-between;
            align-items: center;

            >p{
                color: gray;
                font-weight: 700;
                font-family: Poppins;
                font-size: 12px;
                text-transform: capitalize;
            }
            >.rating{
                width: 40px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                background-color: #388E3C;
                color: $color;
                position: relative;
                padding: 10px 20px;
                margin-right: 20px;

                >h4{
                    font-size: 12px;
                }
                h5{
                    margin-top: 2px;
                    margin-left: 2px;
                }
            }
        }
        >.language >p{
            font-size: 10px;
        }

        >.price-details{
            display: flex;
            align-items: center;
            height: 22px;
            font-family: Roboto;
            margin-top: 8px;
            

            >.cprice >h4{
                color: #212121;
                font-size: 16px;
            }
            >.oprice >h4{
                font-size: 16px;
                padding: 0 0.75rem;
                font-weight: 400;
                color: rgb(135, 135, 135);
                text-decoration: line-through;
            }
            >.discount >h4{
                font-size: 12px;
                color: #388E3C;
            }

        }

    }
    >.button{
        width: 80%;
        position: absolute;
        bottom: 10px;
        left: 28px;
        
        >.btn{
            width: 100%;
            height: 100%;
            padding: .5rem 0;
            background-color: $background-secondary;
            color: $color;
            border-radius: 5px;
            border: none;
        }

    }
}