@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.empty-cart-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 8rem;

    >.container{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        >.cart-icon{
            width: 25%;
            height: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            >img{
                width: 100%;
                height: 100%;
            } 
        }
        >p{
            font-weight: 500;
            font-size: 20px;
            font-family: Poppins;
        }
        >button{
            margin-top: 2rem;
            padding: 0.6rem 1.5rem;
            font-size: 18px;
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            background-color: #295C89;
            color: #fff;
            border-radius: 10px;
            cursor: pointer;
            >span{
                padding-left: 10px;
            }
        }
    }
}