
@import "../../styles/utils.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.wishlist-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(231, 233, 238);
  

  >.wishlist-title {
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
    padding-top: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

    >.wishlist-cards {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      
    }
  }

